@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply border-box sizing model to all elements and their pseudo-elements */
/* This makes width and height calculations include padding and border */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set full height and width for the html, body, root, and app elements */
html,
body,
#root,
.app {
  height: 100%; /* Make sure the elements take up the full height of the viewport */
  width: 100%; /* Make sure the elements take up the full width of the viewport */
  
  /* Apply Tailwind CSS utility classes */
  @apply text-sm;         /* Set the text size to small */
  @apply bg-gray-500;     /* Set the background color to gray-500 */
  @apply text-gray-900;   /* Set the text color to gray-900 */
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8,20vh) ;
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8,7.5vh) ;
  }
}